# SPDX-FileCopyrightText: 2021-2022 SanderTheDragon <sanderthedragon@zoho.com>
#
# SPDX-License-Identifier: CC0-1.0

# For building the documentation
Sphinx==4.4.0
furo==2022.3.4
breathe==4.33.1
sanderthedragon-sphinxext==1.0.1
